Repository igordanchenko/react-photo-album: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,cjs,mjs,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,json}": ["prettier --write"]
}

refactor: replace index signature types with records
  src/server/ServerPhotoAlbum.tsx
  src/ssr/SSR.tsx
  src/types.ts
Due: eslint --fix, prettier --write

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: update sample images
  dev/photos.ts
  examples/columns/src/photos.ts
  examples/customization/src/photos.ts
  examples/infinite-scroll/src/components/photos.ts
  examples/lightbox/src/photos.ts
  examples/masonry/src/photos.ts
  examples/nextjs/components/photos.ts
  examples/nextjs/next.config.ts
  examples/playground/src/photos.ts
  examples/rows/src/photos.ts
  examples/server/app/photos.ts
  examples/server/next.config.ts
  examples/sortable-gallery/src/components/photos.ts
  examples/zero-cls-ssr/components/photos.ts
Due: eslint --fix, prettier --write

ci: fix build
  dev/photos.ts
Due: eslint --fix, prettier --write

docs: update demo image link
  README.md
Due: prettier --write

fix: remove double angle quotes in uid
  src/ssr/breakpoints/useBreakpoints.ts
Due: eslint --fix, prettier --write

fix: fix `render` prop responsive parameter type
  src/static/StaticPhotoAlbum.tsx
  src/types.ts
  src/utils/responsive.ts
Due: eslint --fix, prettier --write

feat: promote experimental exports to stable
  docs/documentation.md
  docs/examples/infinite-scroll.md
  docs/examples/server.md
  docs/examples/zero-cls-ssr.md
  src/index.ts
  src/scroll/index.ts
  src/server/ServerPhotoAlbum.tsx
  src/server/index.ts
  src/ssr/SSR.tsx
  src/ssr/index.ts
  test/photos.ts
  test/scroll/InfiniteScroll.spec.tsx
  test/server/ServerPhotoAlbum.spec.tsx
  test/ssr/SSR.spec.tsx
  test/static/StaticPhotoAlbum.spec.tsx
  test/static/__snapshots__/StaticPhotoAlbum.spec.tsx.snap
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  37c31f4fc01e48917a0c2e2ae4a6ddaa124c262c
Due: none

chore: update dependencies in examples
  examples/columns/package-lock.json
  examples/columns/package.json
  examples/customization/package-lock.json
  examples/customization/package.json
  examples/infinite-scroll/package-lock.json
  examples/infinite-scroll/package.json
  examples/infinite-scroll/src/components/MasonryExample.tsx
  examples/infinite-scroll/src/components/RowsExample.tsx
  examples/infinite-scroll/src/components/photoFetcher.ts
  examples/lightbox/package-lock.json
  examples/lightbox/package.json
  examples/masonry/package-lock.json
  examples/masonry/package.json
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
  examples/playground/package-lock.json
  examples/playground/package.json
  examples/rows/package-lock.json
  examples/rows/package.json
  examples/server/app/page.tsx
  examples/server/package-lock.json
  examples/server/package.json
  examples/sortable-gallery/package-lock.json
  examples/sortable-gallery/package.json
  examples/sortable-gallery/src/components/SortableGallery/Overlay.tsx
  examples/zero-cls-ssr/components/PhotoGallery.tsx
  examples/zero-cls-ssr/package-lock.json
  examples/zero-cls-ssr/package.json
Due: eslint --fix, prettier --write

chore: bump vite to 6.2.4
  examples/columns/package-lock.json
  examples/columns/package.json
  examples/customization/package-lock.json
  examples/customization/package.json
  examples/infinite-scroll/package-lock.json
  examples/infinite-scroll/package.json
  examples/lightbox/package-lock.json
  examples/lightbox/package.json
  examples/masonry/package-lock.json
  examples/masonry/package.json
  examples/playground/package-lock.json
  examples/playground/package.json
  examples/rows/package-lock.json
  examples/rows/package.json
  examples/sortable-gallery/package-lock.json
  examples/sortable-gallery/package.json
  package-lock.json
  package.json
Due: prettier --write

chore: bump vite to 6.2.5
  examples/columns/package-lock.json
  examples/columns/package.json
  examples/customization/package-lock.json
  examples/customization/package.json
  examples/infinite-scroll/package-lock.json
  examples/infinite-scroll/package.json
  examples/lightbox/package-lock.json
  examples/lightbox/package.json
  examples/masonry/package-lock.json
  examples/masonry/package.json
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
  examples/playground/package-lock.json
  examples/playground/package.json
  examples/rows/package-lock.json
  examples/rows/package.json
  examples/server/package-lock.json
  examples/server/package.json
  examples/sortable-gallery/package-lock.json
  examples/sortable-gallery/package.json
  examples/zero-cls-ssr/package-lock.json
  examples/zero-cls-ssr/package.json
  package-lock.json
  package.json
Due: prettier --write

chore: fix sortable example props types
  examples/sortable-gallery/src/components/SortableGallery/Sortable.tsx
Due: eslint --fix, prettier --write

chore: add launch and tasks configurations
  .vscode/launch.json
  .vscode/tasks.json
Due: prettier --write

chore: update dev dependencies
  examples/columns/package-lock.json
  examples/columns/package.json
  examples/customization/package-lock.json
  examples/customization/package.json
  examples/infinite-scroll/package-lock.json
  examples/infinite-scroll/package.json
  examples/lightbox/package-lock.json
  examples/lightbox/package.json
  examples/masonry/package-lock.json
  examples/masonry/package.json
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
  examples/playground/package-lock.json
  examples/playground/package.json
  examples/rows/package-lock.json
  examples/rows/package.json
  examples/server/package-lock.json
  examples/server/package.json
  examples/sortable-gallery/package-lock.json
  examples/sortable-gallery/package.json
  examples/zero-cls-ssr/package-lock.json
  examples/zero-cls-ssr/package.json
  package-lock.json
  package.json
Due: prettier --write

ci: drop node 18 from ci matrix
  .github/workflows/ci.yml
Due: none

chore: update dependencies in examples
  examples/columns/package-lock.json
  examples/columns/package.json
  examples/customization/package-lock.json
  examples/customization/package.json
  examples/infinite-scroll/package-lock.json
  examples/infinite-scroll/package.json
  examples/lightbox/package-lock.json
  examples/lightbox/package.json
  examples/masonry/package-lock.json
  examples/masonry/package.json
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
  examples/playground/package-lock.json
  examples/playground/package.json
  examples/rows/package-lock.json
  examples/rows/package.json
  examples/server/package-lock.json
  examples/server/package.json
  examples/sortable-gallery/package-lock.json
  examples/sortable-gallery/package.json
  examples/zero-cls-ssr/package-lock.json
  examples/zero-cls-ssr/package.json
Due: prettier --write

docs: remove links to obsolete versions
  docs/documentation.md
Due: prettier --write

fix(ssr): remove underscores in breakpoint uids
  src/ssr/breakpoints/useBreakpoints.ts
Due: eslint --fix, prettier --write

feat(infinite-scroll): add support for scroll containers (fix #203)
  docs/documentation.md
  src/scroll/InfiniteScroll.tsx
  src/scroll/Offscreen.tsx
  src/scroll/useIntersectionObserver.ts
  test/scroll/InfiniteScroll.spec.tsx
Due: eslint --fix, prettier --write

refactor: replace refs with state in `useArray` hook
  src/client/hooks/useArray.ts
Due: eslint --fix, prettier --write

chore: bump eslint-plugin-react-hooks to v7
  eslint.config.js
  package-lock.json
  package.json
  src/client/hooks/useContainerWidth.ts
  src/static/Component.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  10cce442c8c64ce2be366a8bf3978044317198fe
Due: none

chore: update dependencies in examples
  examples/columns/package-lock.json
  examples/columns/package.json
  examples/customization/package-lock.json
  examples/customization/package.json
  examples/infinite-scroll/package-lock.json
  examples/infinite-scroll/package.json
  examples/infinite-scroll/src/components/MasonryExample.tsx
  examples/lightbox/package-lock.json
  examples/lightbox/package.json
  examples/masonry/package-lock.json
  examples/masonry/package.json
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
  examples/playground/package-lock.json
  examples/playground/package.json
  examples/playground/src/Settings.tsx
  examples/rows/package-lock.json
  examples/rows/package.json
  examples/server/package-lock.json
  examples/server/package.json
  examples/sortable-gallery/package-lock.json
  examples/sortable-gallery/package.json
  examples/zero-cls-ssr/package-lock.json
  examples/zero-cls-ssr/package.json
Due: eslint --fix, prettier --write

chore: upgrade to vitest@4
  package-lock.json
  package.json
  src/scroll/useLayoutEffect.ts
  src/server/ServerPhotoAlbum.tsx
  test/client/PhotoAlbum.spec.tsx
  test/client/RowsPhotoAlbum.spec.tsx
  test/scroll/InfiniteScroll.spec.tsx
  test/scroll/useIntersectionObserver.spec.ts
  test/scroll/useLayoutEffect.spec.ts
  test/test-utils.ts
  test/vitest.setup.ts
  vite.config.ts
Due: eslint --fix, prettier --write

fix(infinite-scroll): fix offscreen placeholders styles to prevent overflow (fix #208)
  src/scroll/Offscreen.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  cd9cae325c68eafaf5a2228db155136634a6fcfe
Due: none

chore: update eslint config
  eslint.config.js
Due: eslint --fix, prettier --write

test: refactor test globals
  test/client/PhotoAlbum.spec.tsx
  test/scroll/InfiniteScroll.spec.tsx
  test/vitest.setup.ts
Due: eslint --fix, prettier --write

ci: add node 24 to ci matrix
  .github/workflows/ci.yml
Due: none

ci: renovate ci workflow
  .github/workflows/ci.yml
Due: none
