Repository igordanchenko/react-photo-album: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,cjs,mjs,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,json}": ["prettier --write"]
}

chore: refresh Next.js-based examples
  examples/nextjs/package.json
  examples/server/package.json
  examples/zero-cls-ssr/package.json
Due: prettier --write

ci: stop commenting on bot pull requests after a release
  .releaserc.json
Due: prettier --write

chore: normalize the @mui/material version range
  examples/playground/package.json
Due: prettier --write

chore: drop unused emotion dependencies from the playground example
  examples/playground/package.json
Due: prettier --write

docs: add project logo
  .github/assets/logo.webp
  README.md
Due: prettier --write

ci: build every example
  .github/workflows/examples.yml
Due: none

ci: skip preview publishes for bot pull requests
  .github/workflows/ci.yml
  .github/workflows/preview.yml
Due: none

ci: drop the unused discussions permission from the release job
  .github/workflows/release.yml
Due: none

ci: invoke pkg-pr-new non-interactively
  .github/workflows/preview.yml
Due: none

ci: lock inactive threads after 180 days
  .github/workflows/lock.yml
Due: none

chore: run the husky hook binaries directly
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
Due: none

docs: source the bundle size badge from the npm registry
  README.md
Due: prettier --write

chore: tighten the bundle size limits
  .size-limit.json
Due: prettier --write

refactor: remove dead tiebreaker clause in rows layout DP
  src/layouts/rows/rows.ts
Due: eslint --fix, prettier --write

refactor: remove dead tiebreaker clause in columns layout DP
  src/layouts/columns/partition.ts
Due: eslint --fix, prettier --write

fix: prevent crash when the container is too narrow for columns
  src/layouts/columns/columns.ts
  src/layouts/columns/partition.ts
  test/client/ColumnsPhotoAlbum.spec.tsx
Due: eslint --fix, prettier --write

refactor: specialize the columns partition DP to numeric split points
  src/layouts/columns/columns.ts
  src/layouts/columns/partition.ts
Due: eslint --fix, prettier --write

perf: compute rows layout row costs in O(1) via prefix sums
  src/layouts/rows/rows.ts
Due: eslint --fix, prettier --write

fix: keep the default sizes estimate at 100vw for full-width photos
  src/utils/sizes.ts
  test/utils/utils.spec.ts
Due: eslint --fix, prettier --write

fix: avoid stack overflow in rows layout with very large photo arrays
  src/layouts/rows/rows.ts
Due: eslint --fix, prettier --write

fix: eliminate React key warnings for custom render.photo output
  src/static/StaticPhotoAlbum.tsx
  test/client/PhotoAlbum.spec.tsx
Due: eslint --fix, prettier --write

fix(ssr): render photos in SSR below half the smallest breakpoint
  src/ssr/SSR.tsx
  test/ssr/SSR.spec.tsx
Due: eslint --fix, prettier --write

fix: ignore non-positive breakpoints
  src/client/hooks/useContainerWidth.ts
  test/client/PhotoAlbum.spec.tsx
Due: eslint --fix, prettier --write

fix: prevent ResizeObserver churn when an unstable ref is forwarded
  src/client/hooks/index.ts
  src/client/hooks/useContainerWidth.ts
  src/client/hooks/useEventCallback.ts
  src/client/hooks/useLayoutEffect.ts
  src/scroll/InfiniteScroll.tsx
  test/client/PhotoAlbum.spec.tsx
  test/client/useLayoutEffect.spec.ts
Due: eslint --fix, prettier --write

chore: rebase the bundle size limits on the current artifacts
  .size-limit.json
Due: prettier --write

Notes added by 'git notes add'
  6580c200c541b76642cfde960e41d30ea6c2bb2f
Due: none

docs: route security reports through private advisories
  CODE_OF_CONDUCT.md
  SECURITY.md
Due: prettier --write

docs: reword the CHANGELOG pointer
  CHANGELOG.md
Due: prettier --write

chore: restructure the issue and PR templates
  .github/ISSUE_TEMPLATE/bug_report.yml
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/feature_request.yml
  .github/PULL_REQUEST_TEMPLATE.md
Due: prettier --write

docs: tighten the README header
  README.md
Due: prettier --write

chore: skip rolldown bundling for the CSS size limit checks
  .size-limit.json
Due: prettier --write
