Repository igordanchenko/react-photo-album: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.json:

{
  "*.{js,cjs,mjs,jsx,ts,tsx}": ["eslint --fix", "prettier --write"],
  "*.{md,json}": ["prettier --write"]
}

ci: switch release workflow to node 24
  .github/workflows/release.yml
Due: none

ci: renovate release workflow
  .github/workflows/release.yml
Due: none

feat: migrate to npm trusted publishing
  .github/workflows/release.yml
  package.json
Due: prettier --write

chore: modernize package repository url
  package-lock.json
  package.json
Due: prettier --write

chore: drop vscode launch configuration
  .vscode/launch.json
  .vscode/tasks.json
Due: prettier --write

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  4258a9eab4f075cd1f934bf3a489b941b482ccdf
Due: none

chore: update dependencies in examples
  examples/columns/package-lock.json
  examples/columns/package.json
  examples/customization/package-lock.json
  examples/customization/package.json
  examples/infinite-scroll/package-lock.json
  examples/infinite-scroll/package.json
  examples/lightbox/package-lock.json
  examples/lightbox/package.json
  examples/masonry/package-lock.json
  examples/masonry/package.json
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
  examples/playground/package-lock.json
  examples/playground/package.json
  examples/rows/package-lock.json
  examples/rows/package.json
  examples/server/package-lock.json
  examples/server/package.json
  examples/sortable-gallery/package-lock.json
  examples/sortable-gallery/package.json
  examples/zero-cls-ssr/package-lock.json
  examples/zero-cls-ssr/package.json
Due: prettier --write

chore: eliminate duplicate client boundary directives in watch mode
  fixup-dist.js
Due: eslint --fix, prettier --write

chore: setup sponsorship
  .github/FUNDING.yml
Due: none

feat: setup project sponsorship
  README.md
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fc9fbb22a4722f80a1c4c5916ede733782f8d3cf
Due: none

build: replace npm-run-all with npm-run-all2
  package-lock.json
  package.json
Due: prettier --write

chore: remove types definition from CSS exports
  fixup-dist.js
  package.json
Due: eslint --fix, prettier --write

chore: update commitlint config
  .commitlintrc.json
Due: prettier --write

chore: clean up .gitignore
  .gitignore
Due: none

chore: allow local network access in dev server
  dev/vite.config.ts
Due: eslint --fix, prettier --write

build: retire fixup-dist.js script
  fixup-dist.js
  package-lock.json
  package.json
  vite.config.ts
Due: eslint --fix, prettier --write

refactor: use readonly array types in public and internal APIs
  src/client/hooks/useArray.ts
  src/client/hooks/useContainerWidth.ts
  src/layouts/columns/columns.ts
  src/layouts/masonry/masonry.ts
  src/layouts/rows/rows.ts
  src/scroll/InfiniteScroll.tsx
  src/ssr/SSR.tsx
  src/ssr/breakpoints/StyledBreakpoints.tsx
  src/ssr/breakpoints/useBreakpoints.ts
  src/types.ts
  src/utils/responsive.ts
Due: eslint --fix, prettier --write

chore: add autoprefixer to dev server postcss config
  dev/vite.config.ts
Due: eslint --fix, prettier --write

chore: add project guidance for Claude Code
  CLAUDE.md
Due: prettier --write

refactor: renovate TypeScript config
  dev/tsconfig.json
  src/client/aggregate/PhotoAlbum.tsx
  src/client/columns/ColumnsPhotoAlbum.tsx
  src/client/columns/resolveColumnsProps.ts
  src/client/hooks/useContainerWidth.ts
  src/client/masonry/MasonryPhotoAlbum.tsx
  src/client/masonry/resolveMasonryProps.ts
  src/client/rows/RowsPhotoAlbum.tsx
  src/client/rows/resolveRowsProps.ts
  src/layouts/columns/columns.ts
  src/layouts/masonry/masonry.ts
  src/layouts/rows/rows.ts
  src/scroll/InfiniteScroll.tsx
  src/server/ServerPhotoAlbum.tsx
  src/ssr/SSR.tsx
  src/static/Component.tsx
  src/static/PhotoComponent.tsx
  src/static/StaticPhotoAlbum.tsx
  src/utils/ratio.ts
  src/utils/responsive.ts
  src/utils/sizes.ts
  test/server/ServerPhotoAlbum.spec.tsx
  test/test-utils.ts
  tsconfig.json
Due: eslint --fix, prettier --write

docs: update documentation
  README.md
  docs/documentation.md
Due: prettier --write

feat(scroll): support multiple scroll containers on the same page
  src/scroll/useIntersectionObserver.ts
  test/scroll/useIntersectionObserver.spec.ts
Due: eslint --fix, prettier --write

fix(scroll): use batch offset instead of findIndex for click handler
  src/scroll/InfiniteScroll.tsx
Due: eslint --fix, prettier --write

fix(scroll): read individual margin properties instead of shorthand
  src/scroll/Offscreen.tsx
Due: eslint --fix, prettier --write

refactor: extract tiebreaker thresholds into named constants
  src/layouts/columns/shortestPath.ts
  src/layouts/rows/dijkstra.ts
Due: eslint --fix, prettier --write

fix: detect scrollbar resize loop via oscillation pattern instead of scrollbar measurement
  src/client/hooks/useContainerWidth.ts
  test/client/PhotoAlbum.spec.tsx
Due: eslint --fix, prettier --write

fix: prevent corrupted columns and masonry layouts with zero-dimension photos
  src/utils/ratio.ts
  test/client/ColumnsPhotoAlbum.spec.tsx
  test/client/MasonryPhotoAlbum.spec.tsx
Due: eslint --fix, prettier --write

test: use MasonryPhotoAlbum in masonry test instead of ColumnsPhotoAlbum
  test/client/MasonryPhotoAlbum.spec.tsx
Due: eslint --fix, prettier --write

refactor: remove redundant array spread in clsx
  src/utils/clsx.ts
Due: eslint --fix, prettier --write

refactor: use TypeScript overloads to eliminate coverage exclusions in ServerPhotoAlbum
  src/client/columns/resolveColumnsProps.ts
  src/client/masonry/resolveMasonryProps.ts
  src/client/rows/resolveRowsProps.ts
  src/server/ServerPhotoAlbum.tsx
  src/types.ts
  src/utils/responsive.ts
Due: eslint --fix, prettier --write

refactor: replace sass and postcss with lightning css
  .gitignore
  dev/App.tsx
  dev/vite.config.ts
  package-lock.json
  package.json
  src/styles/columns.css
  src/styles/columns.scss
  src/styles/masonry.css
  src/styles/masonry.scss
  src/styles/modules/_common.scss
  src/styles/modules/columns.css
  src/styles/modules/common.css
  src/styles/modules/masonry.css
  src/styles/modules/rows.css
  src/styles/rows.css
  src/styles/rows.scss
  src/styles/styles.css
  src/styles/styles.scss
Due: eslint --fix, prettier --write

chore: update comments
  src/client/hooks/useContainerWidth.ts
  src/scroll/InfiniteScroll.tsx
  src/static/Component.tsx
Due: eslint --fix, prettier --write

fix(scroll): preserve offscreen placeholder dimensions in flex containers
  src/scroll/Offscreen.tsx
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  469eb1a6ca74ced0532bfcf176cd2e7c3f0e4cdc
Due: none

ci: list CSS files explicitly for Windows compatibility
  package.json
Due: prettier --write

chore: update dev dependencies
  package-lock.json
Due: prettier --write

chore: update dependencies in examples
  examples/columns/package-lock.json
  examples/customization/package-lock.json
  examples/infinite-scroll/package-lock.json
  examples/lightbox/package-lock.json
  examples/masonry/package-lock.json
  examples/nextjs/next.config.ts
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
  examples/nextjs/tsconfig.json
  examples/playground/package-lock.json
  examples/rows/package-lock.json
  examples/server/next.config.ts
  examples/server/package-lock.json
  examples/server/package.json
  examples/server/tsconfig.json
  examples/sortable-gallery/package-lock.json
  examples/zero-cls-ssr/next.config.ts
  examples/zero-cls-ssr/package-lock.json
  examples/zero-cls-ssr/package.json
  examples/zero-cls-ssr/tsconfig.json
Due: eslint --fix, prettier --write
