Repository igordanchenko/react-photo-album: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

chore: update eslint config
  eslint.config.js
Due: eslint --fix, prettier --write

test: add unit tests for utility functions and edge cases
  test/client/RowsPhotoAlbum.spec.tsx
  test/utils/utils.spec.ts
Due: eslint --fix, prettier --write

chore: update dev dependencies
  package-lock.json
Due: prettier --write

fix: rows exceeded singleRowMaxHeight with non-zero padding
  src/client/rows/resolveRowsProps.ts
  test/client/RowsPhotoAlbum.spec.tsx
Due: eslint --fix, prettier --write

fix: images always render with an alt attribute
  src/static/StaticPhotoAlbum.tsx
  test/client/PhotoAlbum.spec.tsx
  test/client/__snapshots__/ColumnsPhotoAlbum.spec.tsx.snap
  test/client/__snapshots__/MasonryPhotoAlbum.spec.tsx.snap
  test/client/__snapshots__/PhotoAlbum.spec.tsx.snap
  test/client/__snapshots__/RowsPhotoAlbum.spec.tsx.snap
  test/static/__snapshots__/StaticPhotoAlbum.spec.tsx.snap
Due: eslint --fix, prettier --write

fix: columns layout returns undefined for zero-width containers
  src/layouts/columns/columns.ts
Due: eslint --fix, prettier --write

fix: duplicate photos no longer collide on React key
  src/static/StaticPhotoAlbum.tsx
Due: eslint --fix, prettier --write

perf: slice before map in rows and columns layout builders
  src/layouts/columns/columns.ts
  src/layouts/rows/rows.ts
Due: eslint --fix, prettier --write

docs: clarify ref forwarding requirement for infinite scroll
  docs/documentation.md
Due: prettier --write

docs: clarify that InfiniteScroll fetch promise must always settle
  docs/documentation.md
  src/scroll/InfiniteScroll.tsx
Due: eslint --fix, prettier --write

refactor: add explicit return type to rankingFunctionComparator
  src/layouts/rows/heap.ts
Due: eslint --fix, prettier --write

ci: add workflow_dispatch trigger
  .github/workflows/ci.yml
Due: none

Notes added by 'git notes add'
  c95e314b9e4cfdf324cbebb1e5b9c952ea2761c0
Due: none

chore: update dependencies in examples
  examples/columns/package-lock.json
  examples/customization/package-lock.json
  examples/infinite-scroll/package-lock.json
  examples/lightbox/package-lock.json
  examples/masonry/package-lock.json
  examples/nextjs/package-lock.json
  examples/playground/package-lock.json
  examples/rows/package-lock.json
  examples/server/package-lock.json
  examples/sortable-gallery/package-lock.json
  examples/zero-cls-ssr/package-lock.json
  package-lock.json
Due: prettier --write

chore: update dev dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: update dependencies in examples
  examples/columns/package-lock.json
  examples/columns/package.json
  examples/customization/package-lock.json
  examples/customization/package.json
  examples/infinite-scroll/package-lock.json
  examples/infinite-scroll/package.json
  examples/lightbox/package-lock.json
  examples/lightbox/package.json
  examples/masonry/package-lock.json
  examples/masonry/package.json
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
  examples/playground/package-lock.json
  examples/playground/package.json
  examples/rows/package-lock.json
  examples/rows/package.json
  examples/server/package-lock.json
  examples/server/package.json
  examples/sortable-gallery/package-lock.json
  examples/sortable-gallery/package.json
  examples/zero-cls-ssr/package-lock.json
  examples/zero-cls-ssr/package.json
Due: prettier --write

ci: add preview package workflow using pkg.pr.new
  .github/workflows/preview.yml
Due: none

ci: replace bahmutov/npm-install with built-in setup-node caching
  .github/workflows/ci.yml
Due: none

feat: optimize layout algorithms with dynamic programming
  CLAUDE.md
  README.md
  src/layouts/columns/columns.ts
  src/layouts/columns/partition.ts
  src/layouts/columns/shortestPath.ts
  src/layouts/rows/dijkstra.ts
  src/layouts/rows/heap.ts
  src/layouts/rows/rows.ts
  test/client/__snapshots__/PhotoAlbum.spec.tsx.snap
  test/client/__snapshots__/RowsPhotoAlbum.spec.tsx.snap
  test/core/heap.spec.ts
Due: eslint --fix, prettier --write

Notes added by 'git notes add'
  f145d1b5930b96b4a876596813116b5ca0329ba9
Due: none

chore: update dev dependencies
  package-lock.json
  package.json
  src/client/hooks/useContainerWidth.ts
Due: eslint --fix, prettier --write

chore: replace lightningcss-cli with lightningcss-build
  package-lock.json
  package.json
Due: prettier --write

chore: bump dessant/lock-threads to v6.0.2
  .github/workflows/lock.yml
Due: none

chore: drop Dependabot config
  .github/dependabot.yml
Due: none

chore: drop CodeQL workflow
  .github/workflows/codeql.yml
Due: none

ci: overhaul GitHub Actions workflows
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/lock.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
Due: none

ci: drop Node 20 from the test matrix
  .github/workflows/ci.yml
Due: none

chore: lint pushed commits with a pre-push hook
  .husky/commit-msg
  .husky/pre-commit
  .husky/pre-push
  package-lock.json
  package.json
Due: prettier --write

chore: format every staged file type with prettier
  .lintstagedrc.json
Due: prettier --write

chore: recognize the breaking change marker in commit subjects
  .commitlintrc.json
  .releaserc.json
Due: prettier --write

chore: enforce bundle size budgets for every entry point
  .github/workflows/ci.yml
  .github/workflows/preview.yml
  .github/workflows/release.yml
  .size-limit.json
  package-lock.json
  package.json
Due: prettier --write

chore: group the project metadata fields in package.json
  package.json
Due: prettier --write

chore: manage dependency updates with renovate
  renovate.json
Due: prettier --write

chore: float example dependencies to the latest matching versions
  .gitignore
  examples/columns/package-lock.json
  examples/columns/package.json
  examples/customization/package-lock.json
  examples/customization/package.json
  examples/infinite-scroll/package-lock.json
  examples/infinite-scroll/package.json
  examples/lightbox/package-lock.json
  examples/lightbox/package.json
  examples/masonry/package-lock.json
  examples/masonry/package.json
  examples/nextjs/package-lock.json
  examples/nextjs/package.json
  examples/playground/package-lock.json
  examples/playground/package.json
  examples/rows/package-lock.json
  examples/rows/package.json
  examples/server/package-lock.json
  examples/server/package.json
  examples/sortable-gallery/package-lock.json
  examples/sortable-gallery/package.json
  examples/zero-cls-ssr/package-lock.json
  examples/zero-cls-ssr/package.json
Due: prettier --write

chore: track example dependencies as a single grouped update
  renovate.json
Due: prettier --write

chore: review example major bumps as separate pull requests
  renovate.json
Due: prettier --write

chore: separate example dependency updates from the library's own
  renovate.json
Due: prettier --write

chore: stop maintaining lock files the examples no longer have
  renovate.json
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{js,cjs,mjs,jsx,ts,tsx}
  prettier --write: (any of: *.{js,cjs,mjs,jsx,ts,tsx}) or (any of: *.{md,json})
